body {
	background-color: #071422;
	color:white;

}
.center-box {
	margin:0 auto;
	position:relative;
	top: 50px;
	width:700px;
	height:500px;
	background-color:#030a11;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, .75);
	text-align: center;
	padding:20px;
}

.input-text {
	text-align: left;
	font-size: 20px;
	position: relative;
	top: 20px;
	width:650px;
	height:380px;
	resize: none;
	color:white;
	background-color: #030a11;
	border: 1px solid white;
}

.input-text::selection {
	background:red;
	color:white;
}

.submit {
	width:180px;
	height:40px;
	margin-top:27px;
	background-color: #071422;
	color:white;
	border:1px solid white;
}

.navibar {
	background-color: #030a11;
	width:100%;
	height:auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, .75);
	padding-left:30px;
	padding-bottom: 10px;
	position: fixed;
}
.logo {
	margin-top:15px;
}
.media-controls {
	left:30%;
	text-align: center;
	top:12px;
	position: absolute;
	display: inline;
}
	.media-button {
		width:25px;
		margin-left:20px;
	}
	.speed-control {
		margin-top:15px;
		float:right;
		display: inline;
		margin-right: 50px;
	}
		#speed {
			width:200px;
		}
	.additonal-controls {
		float:right;
		margin-right: 20px;
		display: inline;
		margin-top:8px;
	}
		.additonal-controls a {
			text-decoration: none;
			width:150px;
			display: inline-block;
			text-align: center;
			height: auto;
			background-color: #071422;
			color:white;
			font-weight: bold;
			font-size:10px;
			padding: 10px 0px 10px 0px;
		}
		.additonal-controls a:hover {
			font-weight: normal;
		}

.prompter {
	color:white;
	font-size:100px;
	padding:50px 15px 50px 15px;
	line-height: 1.2;
}

.prompter::selection {
	background:red;
	color:white;
}